In [1]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [4]:
inspector = inspect(engine)

column_names = inspector.get_columns('Measurement')
for column_name in column_names:
    print(column_name["name"])

id
station
date
prcp
tobs

## D1: Determine the Summary Statistics for June

In [5]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results_june = []
results_june = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6). all()

In [6]:
#  3. Convert the June temperatures to a list.
temps_june = list(np.ravel(results_june))

In [7]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df_june = pd.DataFrame(results_june, columns = ['date', 'June Temps'])
df_june.set_index(df_june['date'], inplace=True)

In [8]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df_june.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [9]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results_dec = []
results_dec = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12). all()

In [10]:
# 7. Convert the December temperatures to a list.
temps_dec = list(np.ravel(results_dec))

In [11]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df_dec = pd.DataFrame(results_dec, columns = ['date', 'Dec Temps'])
df_dec.set_index(df_dec['date'], inplace=True)

In [12]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df_dec.describe()

         Dec Temps
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

## Additional Analysis

In [13]:
# Run percepitation for June
results_perc_june = []
results_perc_june = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 6). all()
perc_june = list(np.ravel(results_perc_june))
df_perc_june = pd.DataFrame(results_perc_june, columns = ['date', 'June Prcp'])
df_perc_june.set_index(df_perc_june['date'], inplace=True)
df_perc_june.describe()

         June Prcp
count  1574.000000
mean      0.136360
std       0.335731
min       0.000000
25%       0.000000
50%       0.020000
75%       0.120000
max       4.430000

In [14]:
# Run percepitation for December
results_perc_dec = []
results_perc_dec = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 12). all()
perc_dec = list(np.ravel(results_perc_dec))
df_perc_dec = pd.DataFrame(results_perc_dec, columns = ['date', 'Dec Prcp'])
df_perc_dec.set_index(df_perc_dec['date'], inplace=True)
df_perc_dec.describe()

          Dec Prcp
count  1405.000000
mean      0.216819
std       0.541399
min       0.000000
25%       0.000000
50%       0.030000
75%       0.150000
max       6.420000

In [15]:
# What are the most active stations?
# List the stations and the counts in descending order.
session.query(Measurement.station, func.count(Measurement.station)).\
group_by(Measurement.station).order_by(func.count(Measurement.station).desc()).all()

[('USC00519281', 2772),
 ('USC00519397', 2724),
 ('USC00513117', 2709),
 ('USC00519523', 2669),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00511918', 1979),
 ('USC00517948', 1372),
 ('USC00518838', 511)]

In [17]:
# Run temp for most active station.
# June
results_active_june = []
results_active_june = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6).filter(Measurement.station == 'USC00519281'). all()
temps_active_june = list(np.ravel(results_active_june))
df_active_june = pd.DataFrame(results_active_june, columns = ['date', 'June Temps'])
df_active_june.set_index(df_active_june['date'], inplace=True)
df_active_june.describe()

       June Temps
count  236.000000
mean    73.271186
std      2.989801
min     65.000000
25%     71.000000
50%     73.000000
75%     75.000000
max     82.000000

In [18]:
# December
results_active_dec = []
results_active_dec = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).filter(Measurement.station == 'USC00519281'). all()
temps_active_dec = list(np.ravel(results_active_dec))
df_active_dec = pd.DataFrame(results_active_dec, columns = ['date', 'Dec Temps'])
df_active_dec.set_index(df_active_dec['date'], inplace=True)
df_active_dec.describe()

        Dec Temps
count  217.000000
mean    69.903226
std      3.803609
min     58.000000
25%     68.000000
50%     70.000000
75%     73.000000
max     79.000000